{% extends 'attraction/base.html' %}
{% load static %}

{% block content %}

<style>
    #attraction-img{
        height: 170px;
        object-fit: cover;
    }
    #map {
    height: 100%;
  }
  .search_input {
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: #575756;
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.search_input::placeholder {
    color: color(#575756 a(0.8));
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.search_input:hover,
.search_input:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
}
    
</style>
<!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_2">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Destinations</h3>
                        <br>   
                        <form method='GET' action="">
                            <input class="search_input" type='text' name='q' placeholder='search' value='{{ request.GET.q }}'/>
                        </form>   
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->


    
    <!-- where_togo_area_start  -->
       
                   

            

    
    <!-- where_togo_area_end  -->


    
      <nav aria-label="breadcrumb">
        <div class="container">
                            <form method='GET' action="">
                            <input class="single_select" type='text' name='q' placeholder='search' value='{{ request.GET.q }}'/>
                            <button type='submit'>Search<button>
                            </form>
                    </div>

      </nav>
    


             



 


    <div class="popular_places_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="filter_result_wrap">
                        <h4>Filter Result</h4>
                        <div class="filter_bordered">
                            <div class="filter_inner">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="single_select">
                                            <select>
                                                <option data-display="Country">Country</option>
                                                <option value="1">Africa</option>
                                                <option value="2">canada</option>
                                                <option value="4">USA</option>
                                              </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="single_select">
                                            <select>
                                                <option data-display="Travel type">type</option>
                                                <option value="1">โครงการหลวงและโครงการในพระราชดำริ</option>
                                                <option value="2">ธรรมชาติและสัตว์ป่า</option>
                                                <option value="4">วัด</option>
                                              </select>
                                        </div>
                                    </div>
                                    
						
                                    
                                </div>
                            </div>

                            <div class="reset_btn">
                                <button class="boxed-btn4" type="submit">Filter</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                    {% for place in page_obj %}
                        <div class="col-lg-4 col-md-4">
                            <div class="single_place">
                                <div class="thumb">
                                    <img id="attraction-img" src="{{ place.img }}" alt="">
                                    <a href="#" class="prise"><i class="fa fa-heart"></i></a>
                                </div>
                                <div class="place_info">
                                    <a href="{{ place.get_absolute_url }}"><h3>{{ place.name }}</h3></a>
                                    <p>{{ place.province }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}    
                    </div>
                </div>
            </div>




<!---pagination-->
            <nav class="blog-pagination justify-content-center d-flex">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a href="?page=1{% if request.GET.q %}&q={{ request.GET.q}}{% endif %}" class="page-link" aria-label="first">
                            <i class="ti-angle-double-left"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q}}{% endif %}" class="page-link" aria-label="Previous">
                            <i class="ti-angle-left"></i>
                        </a>
                    </li>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <li class="current page-item active">
                                <a href="#" class="page-link">{{ num }}</a>
                            </li>


                        {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                            <li class="page-item ">
                                <a href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q}}{% endif %}" class="pagination-number page-link">{{ num }}</a>
                            </li>
                        {% endif %}
                    
                    {% endfor %}

                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q}}{% endif %}" class="page-link" aria-label="Next">
                            <i class="ti-angle-right"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q}}{% endif %}" class="page-link" aria-label="Last">
                            <i class="ti-angle-double-right"></i>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
<!---pagination-->

        </div>
    </div>




{% endblock %}