{% extends 'attraction/base.html' %}
{% load static %}

{% block content %}
<!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="single-post">
                  <div class="feature-img">
                     <img class="img-fluid" src="{{ detail.img.url }}" alt="">
                  </div>
                  <div class="blog_details">
                     <h2>{{ detail.title }}
                     </h2>
                     <ul class="blog-info-link mt-3 mb-4">
                        <li><i class="fa fa-user"></i>Admin</li>
                        <li><i class="fa fa-clock-o"></i> {{ detail.updated }}</li>

                     </ul>
                     <p class="excert">
                       {{ detail.detail|linebreaks }}
                     </p>
                     
                    
                  </div>
               </div>
               
               
            
            </div>
            
         </div>
      </div>
   </section>
   <!--================ Blog Area end =================-->
{% endblock %}