{% extends 'attraction/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="row justify-content-center bg-light ">
    <div class="col-md-6 p-5 contact-form">
        <h1>Create new plan...</h1>
        <hr/>
        <form method="POST" action="{% url 'plan_create' %}" enctype='multipart/form-data' >
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-danger btn-block" value="{{ title }}" />
        
        </form>
    </div>
    
</div>
{% endblock %}