{% extends 'attraction/base.html' %}
{% load static %}



{% block content %}

<div class="container">

<div class="row block-9 justify-content-center mb-5">
  <div class="col-md-6 mb-md-5">
  <div class="p-5 bg-light">
    <h2 class="text-center">เข้าสู่ระบบ</h2>
      <form method="post" action="{% url 'login' %}" class="p-3 contact-form">
      {% csrf_token %}

        {% if error %}
          <div class="alert alert-danger" role="alert">
            {{ error }}
          </div>
        {% endif %}
        <div class="form-group">
          <input type="text" class="form-control" placeholder="๊Username">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password">
        </div>
        
        <div class="form-group">
          <input type="submit" value="login" class="btn btn-danger btn-sm btn-block">
        </div>
      </form>      
  </div>
</div>
</div>
</div>



 {% comment %} <form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <table>
  {% if error %}
  <tr><td colspan="2" style="text-align: center;"><span style="color: red;">{{ error }}</span></td></tr>
  {% endif %}

  <tr>
  <th>Username: </th>
  <td><input type="text" name="username"></td>
  </tr>

  <tr>
  <th>Password: </th>
  <td><input type="password" name="password"></td>
  </tr>

  <tr>
  <td colspan="2"><input type="submit" value="LOGIN"></td>
  </tr>


  </table>
  </form> {% endcomment %}
{% endblock %}





